[passwords]
aact_db_user = your_user_name_here
aact_db_password = your_password_here
aact_db_connection_string  =  dbname='aact'
    user='%(aact_db_user)'
    host='aact-db.ctti-clinicaltrials.org'
    password='%(aact_db_password)'
